.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80%;

}

.game_container{
    display: grid;
    grid-template-columns: repeat(3,100%);
    grid-template-rows: repeat(3,100%);
    gap: 5px;
    margin: 20px auto;
    height: 10%;
    width: 10%;
    margin-top: 50px;
    margin-bottom: 135px;


}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: #f2f2f2;
    cursor: pointer;
}

.cell:hover{
    background: #cccccc;

}

#status{
    margin-top: 15px;
    margin-left: 250px;
    font-size: 1.2rem;
    text-align: center;

}

#reset{
    background-color: #ad64ee;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 250px;
    padding: 12px 62px;
    border-radius: 5px;

}

#reset:hover{
    background-color: #8956f0;
}